main{
  min-height: 100vh;
  display: flex;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  height: fit-content;
  min-width: 400px;

  form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,button{
      border: none;
      outline: none;
      padding-inline: 1.5rem;
      padding-block: 1rem;
      border-radius: 1rem;

    }
    button{
      background-color: rgb(157, 35, 35);
      color: whitesmoke;
      cursor: pointer;
    }
  }
  .toggleAuthForm{
    color:rgb(231, 44, 44);
    cursor: pointer;
    text-decoration: none;
  }
}